@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Mono:ital,wght@0,400;1,500&display=swap');

:root {
    --navtranColor: #0a192fb9;
    --bgcolor: #0a192f;
    --textColor: #EEEEEE;
    --color: #ff6f00;
    --otherColor: #DDDDDD;
    --font: 'PT Mono', monospace;
    --font2: 'Roboto Mono', monospace;
    --navShadow: 1px 1px 10px 1px grey;
    --navGradentColor:linear-gradient(#5181ca,var(--bgcolor));
    --transition:background .5s ease;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--textColor);
}

::-webkit-scrollbar {
    width: 8px;

    background-color: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--bgcolor), var(--otherColor));
    border-radius: 10px;
}


body {
    background-color: var(--bgcolor);

}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background: var(--navGradentColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 2;
    font-family: var(--font);
    transition: background 1s ease;
}

nav .logo {
    height: 45px;
    width: 90px;
    margin-right: auto;
    margin-left: 60px;
}

nav ul {
    display: flex;
    margin-right: 40px;
    align-items: center;
    /* display: none; */
}
nav ul a{
    text-decoration: none;
}
nav ul li {
    list-style: none;

    letter-spacing: .5px;
    font-weight: 600;
    padding: 20px;
    /* margin: 20px; */
    text-transform: capitalize;
    cursor: pointer;
    transition: color .5s ease;
}

nav ul li:hover {
    color: var(--color);
}

nav button {
    height: 30px;
    width: 80px;
    margin-right: 20px;
    font-weight: 600;
    border-radius: 4px;
    border-width: 0;
    background-color: var(--color);
    color: var(--textColor);
    cursor: pointer;
    transition: all .5s ease;
}

nav button:hover {
    background-color: var(--bgcolor);
    font-weight: 600;
    border-width: 10;
    color: var(--color);
    /* border: 1px solid var(--color); */
}

nav i{
    position: absolute;
    right: 20px;
    font-size: 25px;
}
#menu{
    display: none;
}
#closeMenu{
    display: none;
}




.socialMediaCont {
    position: fixed;
    left: 8px;
    bottom: 90px;
}

.socialMediaCont hr {
    transform: rotate(90deg);
    position: fixed;
    width: 80px;
    left: 2px;
    bottom: 40px;
}


.socialMedia {
    display: flex;
    margin-left: 20px;
    margin: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: color 1s ease;
    align-items: center;
}

.socialMedia a {
    text-decoration: none;
    display: flex;
    transition: all .5s ease;
}

.socialMedia a i {
    color: var(--otherColor);
}

.iconDetails {
    margin-left: 10px;
    transform: translateY(-10px);
    display: none;
    font-size: 12px;
    color: var(--otherColor);
    font-family: var(--font2);
    transition: all .5s ease-in-out;
}

.socialMedia a i:hover {
    color: var(--color);
}
.socialMedia a:hover {
    transform: translateY(-5px);
}

.socialMedia:hover .iconDetails {
    color: var(--color);
    transform: translateY(0px);
    display: block;
    background-color: var(--bgcolor);
    background-origin: border-box;
    z-index: 10;
}



/* ...............contant css .................... */


.ContantCont {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}


/* ...............Home contant css .................... */

.HomeCont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.nameTittle {
    font-size: 16px;
    margin: 10px 20px;
    font-family: var(--font);
}

.myName {
    color: var(--color) !important;
}

.myName,
.myDetailsTittle {
    font-size: 45px;
    text-transform: capitalize;
    margin: 20px 0px 0px 20px;
    color: var(--otherColor);
    font-family: var(--font2);
    font-weight: 600;
}

.myDetails {
    font-size: 12px;
    line-height: 2;
    text-transform: none;
    margin: 20px;
    margin-right: 45%;
    color: var(--otherColor);
    font-family: var(--font2);
}

.myresumeBtn {
    padding: 18px;
    margin: 0px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    color: var(--color);
    background-color: var(--bgcolor);
    border: 1px solid var(--color);
    transition: all .5s ease;
    font-weight: 600;
    cursor: pointer;
}

.myresumeBtn:hover {
    border: 1px solid var(--otherColor);
    filter: drop-shadow(0px 0px 5px var(--otherColor));
}

/* ................About Contant Css..................  */


.AboutCont{
    width: 90%;
    height: 100vh;
    display: flex;
    margin: 120px auto 0px auto;
}

.AboutTextBox{
    width: 90%;
}

.AboutTitle{
    font-size: 32px;
    margin:5px 20px;
    list-style: armenian;
    color: var(--textColor);
}
.AboutCont hr{
    margin-left: 20px;
    width: 90%;
    height: 1px;
}

.AboutMainCont{
    display: flex;
}

.AboutText{
    margin: 20px;
    font-weight: 500;
}
.AboutText p{
    font-size: 12px;
    margin-top: 20px;
    font-family:var(--font2);
    text-align: justify;
}

.Language{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}
.Language li{
    list-style:circle inside;
    line-height: 1.5;
    font-size: 14px
}

.AboutImage{
    width: 20%;
    height: 250px;
    display: flex;
    align-items: center;
    margin-top: 50px;

}

.AboutImageBox{
    position: relative;
    width: 200px;
    height: 220px;
    
}

.AboutImageBox::after{
    content: " ";
    width: 200px;
    height: 220px;
    border: 1px solid red;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    transition: opacity .5s ease;
}

.AboutImageBox::before{
    content: " ";
    width: 200px;
    height: 220px;
    border: 1px solid red;
    position: absolute;
    left: -10px;
    top: -10px;
    opacity: 0;
    z-index: -1;
    /* transition: all 1s ease; */
}


.AboutImageBox:hover::before{
    opacity: 1;
}

.AboutImageBox:hover::after{
    opacity: 0;
}

.AboutImage img{
    width: 200px;
    height: 220px;
    border-radius: 3px;
    filter:grayscale(1);
    transition: filter .3s ease-in;

}

.AboutImage img:hover{
    filter: grayscale(0);
}

/* ................... service Cont css.............  */


.serviceCont{
    width: 90%;
    margin: 120px auto 0px auto;
}

.serviceTittle{
    font-size: 32px;
    margin:5px 20px;
    list-style:circle;
    color: var(--textColor);
    text-align: center;
    font-family: var(--font2);
}

.serviceCont hr{
    margin:auto;
    width: 85%;
    height: 1px;
}
.serviceBox{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.serviceOption{
    width: 230px;
    margin:  20px 15px;
    padding: 10px;
    border: 1px solid var(--otherColor);
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   text-align: center;
   transition: border .5s ease;
   cursor: default;
}
.serviceOption h1{
    text-align: start;
    margin: 10px;
    font-size: 18px;
    position: relative;
    
}
.serviceOption h1::after{
    content: "";
    width: 0%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .5s ease;
}

.serviceOption:hover {
    border: 1px solid var(--color);
}
.serviceOption:hover  h1::after{
    width: 100%;
}

.serviceOption p{
    text-align:justify;
    font-size: 14px;

}

.serviceTools{
    margin:auto;
    width: 90%;
    /* height: 100vh; */
    /* background-color: red; */
}

.toolsTittle{
    font-size: 18px;
    margin: 20px;
    width: fit-content;
    position: relative;
}
.toolsTittle::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: var(--color);
    font-family:var(--font) ;
}

.toolSubTittle{
    font-size: 15px;
    margin: 20px;
}
.languageBox{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.language{
    height: 100px;
    width: 150px;
    margin: 10px auto;
    border-radius: 3px;
    /* border: 1px solid var(--color); */
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.language:hover{
    transform: translateY(-5px);
    border: 1px solid var(--color);
}

.language i{
    color: var(--otherColor);
    font-size: 40px;
}


/* .............. contact contant css.................  */

.contactCont{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.contactTittle{
    font-size: 28px;
    font-family: var(--font);
}
.contactCont p{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font);
}

.contactBtn{
    padding: 10px 26px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--color);
    background-color: var(--bgcolor);
    margin-top: 20px;
    border: 1px solid var(--color);
    transition: all .5s ease;
    font-weight: 600;
    cursor: pointer;
}

/* ................foter content css...............  */

.footer {
    margin-top: -30px;
    /* height: 40px;  */
    /* box-shadow: 0px -1px 20px .001px var(--otherColor); */
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
}